/* Global */
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Layout */
.l-container{
  width: 100%;
  height: auto;
  padding: 0 30px;
} 
.l-secure{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Components */
@import './components/StaticNav';
@import './components/Nav';
@import './components/Slider';